
.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

pygsrc/__pycache__/
pygsrc/*.py[cod]
pygsrc/*$py.class

resources/*
!resources/download.sh
